<%- include('header') -%>
<h2> This is the about page</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eius fugiat hic iure laborum, minima minus molestias nesciunt obcaecati quas sequi sint veritatis. Id impedit in minima quos rerum voluptatibus!</span><span>Aliquid cupiditate dolore dolorem explicabo fugit illo inventore iste minima nobis nulla placeat quas, quidem quo, rem sequi soluta voluptatem. Accusamus at deserunt explicabo inventore ipsa, quasi qui sed temporibus.</span>
</p>
<%- include('footer') -%>